body {
  background-image: url('https://images-ext-1.discordapp.net/external/sB2vHBq-S1asWB0VvVNqfR_Fpvzyr7urcd9V9N2hgGQ/https/www.growtopiagame.com/resources/assets/images/grow_header.jpg?width=988&height=378');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.load-file {
  margin-top: 25vh;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 10px;
}

.load-text {
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  display: block;
}

.load-btn {
  display: block;
  background-color: rgba(0, 143, 251, 0.3);
}

.item-content {
  position: relative;
  margin-top: 3vh;
  margin-left: 4%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0;
  border-radius: 10px;
  width: 92%;
  height: 80vh;
}

.item-info {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
}

.file-info {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
}

.item-info .card {
  margin-right: 5px !important;
  margin-left: 5px;
  max-width: 48%;
  min-width: 48%;
  display: inline-block;
}

.item-info .card-header {
  background-color: rgba(0, 0, 0, 0.1);
}

.item-info .card-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-table {
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: scroll;
  height: 70%;
  border: 0;
}

.table-sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.item-search {
  padding-left: 20px;
  padding-right: 20px;
}

.item-search input {
  font-size: 15px;
}

.spacer {
  height: 10px;
}
